<ul>
    <li><strong>{{ mueble.tipo }}</strong></li>
    <li><strong>Material</strong>: {{ mueble.material }}</li>
    <li><strong>Acabado</strong>: {{ mueble.acabado }}</li>
    {% if mueble.tienda %}
        <li><strong>Tienda</strong>: {{ mueble.tienda.nombre }}</li>
    {% endif %}
    <a href="/mueble/{{mueble.id}}" class="button">Ficha</a>
    <a href="/mueble/editar/{{mueble.id}}" class="button">Editar</a>
    <a href="/mueble/borrar/{{mueble.id}}" class="button">Borrar</a>
</ul>